@import "../../../scss/custom.scss";

$nav-default-opacity: 0;
$nav-hover-opacity: 0.15;
$nav-active-opacity: 0.25;

.nav-menu {
  background-color: $secondary;
  height: 100%;

  padding-top: 10px;
}

.nav {
  flex-direction: column;
}
.nav > * {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 8px;
  font-size: 26px;

  padding-left: 20px;
  padding-top: 16px;
  padding-bottom: 16px;

  background-color: rgba(0, 0, 0, $nav-default-opacity);
  transition: background-color 0.3s;
  cursor: pointer;
}
.nav > *:hover {
  background-color: rgba(0, 0, 0, $nav-hover-opacity);
}
.nav > *:active {
  background-color: rgba(0, 0, 0, $nav-active-opacity);
}
