:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: white;
  background-color: #242424;
}

body {
  margin: 0;
}

.app {
  font-family: "Roboto", system-ui;
  font-weight: 300;
  font-style: normal;

  width: 100vw;
  height: 100vh;
  display: flex;
  overflow-y: hidden;
}

.roboto-light {
  font-family: "Roboto", system-ui;
  font-weight: 300;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", system-ui;
  font-weight: 900;
  font-style: normal;
}

.chat-input {
  padding: 20px;
}
.chat-input > input {
  font-size: 30px;
}
