.connections-page {
  flex: 1;

  display: flex;
  flex-direction: column;
  overflow: hidden;

  .connection-requests-button-container {
    position: relative;
  }

  .connections-container {
    padding: 8px;
    padding-top: 16px;

    flex: 1;
    overflow-y: scroll;

    .connection {
      display: flex;
      flex-direction: row;
      align-items: center;

      .connection-image {
        padding: 16px;
        padding-right: 24px;
      }

      .connection-username {
        padding: 12px;
      }
    }
  }
}
