.connections-backdrop-header {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.connections-container {
  padding: 8px;
  padding-top: 16px;

  flex: 1;
  overflow-y: scroll;

  .connection {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;

    .connection-image {
      padding: 16px;
      padding-right: 24px;
    }

    .connection-username {
      padding: 12px;
    }

    .overlay {
      position: absolute;
      background-color: white;
      opacity: 0;
      width: 100%;
      height: 100%;

      transition: opacity 200ms;

      cursor: pointer;
    }
  }

  .connection:hover .overlay {
    opacity: 0.25;
  }

  hr {
    margin: 0;
  }
}

.send-connection-request-dialog-body {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
