.auth-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;

  font-size: 2em;

  flex: 1;
}

.auth-page input {
  font-size: inherit;
}

.auth-form-container {
  width: 20%;
  min-width: 500px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.auth-form-title {
  font-size: 2em;
  text-align: center;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: center;
}
