@import "../../../scss/custom.module.scss";

.toolbar {
  height: 90px;
  background-color: $primary;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding-left: 30px;
  padding-right: 30px;
}
.toolbar > * {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
}

.toolbar-title {
  font-size: 2em;
}

.logout-button {
  aspect-ratio: 1 / 1;
}
