@import "../../../scss/custom.scss";

$message-border-radius: 30px;

.chat-container {
  display: flex;
  flex-direction: column;
  // gap: 32px;

  flex: 1;
  overflow-y: hidden;
}

.chat-title {
  font-size: 64px;
  padding: 12px;
  box-shadow: 0 1px 5px black;

  z-index: 1;
}

.chat-message-container {
  display: flex;
  flex-direction: column;
  gap: 16px;

  overflow-y: hidden;
}

.chat-messages {
  display: flex;
  flex-direction: column-reverse;
  gap: 16px;
  overflow-y: scroll;

  flex: 1;
  align-self: flex-end;
  width: 70%;

  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 8px;

  z-index: 0;
}

.chat-message {
  padding: 16px;

  border-bottom-left-radius: 0;
  border-bottom-right-radius: $message-border-radius;
  border-top-left-radius: $message-border-radius;
  border-top-right-radius: $message-border-radius;

  background-color: #006aff;
  font-size: 32px;

  align-self: flex-start;

  box-shadow: -1px 1px 6px black;
}
.chat-message.owned {
  border-bottom-left-radius: $message-border-radius;
  border-bottom-right-radius: 0;
  border-top-left-radius: $message-border-radius;
  border-top-right-radius: $message-border-radius;
  border-top-right-radius: 30px;

  align-self: flex-end;
}

.new-message-input-container {
  align-self: flex-end;
  width: 35%;

  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.new-message-input > input {
  font-size: 32px;
}
