@import "../../../scss/custom.module.scss";

$message-border-radius: 20px;

.chat-container {
  display: flex;
  flex-direction: column;

  flex: 1;
  overflow-y: hidden;
}

.chat-title {
  font-size: 64px;
  padding: 12px;
  box-shadow: 0 1px 5px black;

  z-index: 1;
}

.chat-message-container {
  display: flex;
  flex-direction: column;
  gap: 16px;

  overflow-y: hidden;

  flex: 1;
}

.chat-messages {
  display: flex;
  flex-direction: column-reverse;
  gap: 16px;
  overflow-y: scroll;

  flex: 1;

  padding-left: 24px;
  padding-right: 24px;
  padding-top: 12px;
  padding-bottom: 8px;

  z-index: 0;
}

.chat-message {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  padding-bottom: 8px;

  border-bottom-left-radius: 0;
  border-bottom-right-radius: $message-border-radius;
  border-top-left-radius: $message-border-radius;
  border-top-right-radius: $message-border-radius;

  background-color: $secondary-dark;
  font-size: 32px;

  align-self: flex-start;

  box-shadow: -1px 1px 6px black;

  display: flex;
  align-items: flex-start;
  flex-direction: column;

  .chat-message-username {
    line-height: 0.8em;
    font-size: 0.8em;
    opacity: 0.5;
  }

  .chat-message-content {
    line-height: 1em;
    margin-top: 6px;
    margin-bottom: 12px;
  }

  .chat-message-send-time {
    font-size: 0.6em;
    line-height: 0.6em;
    align-self: flex-end;

    opacity: 0.5;
  }
}
.chat-message.owned {
  border-bottom-left-radius: $message-border-radius;
  border-bottom-right-radius: 0;
  border-top-left-radius: $message-border-radius;
  border-top-right-radius: $message-border-radius;
  border-top-right-radius: 30px;

  background-color: $primary;

  align-self: flex-end;

  .chat-message-send-time {
    opacity: 0.7;
  }
}

.new-message-input-container {
  align-self: flex-end;
  width: 50%;

  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 16px;
}
.new-message-input > input {
  font-size: 32px;
}

.chat-date-divider {
  text-align: center;
  margin-bottom: 16px;
  font-size: 1.3em;
  color: $gray-500;

  hr {
    margin-bottom: 8px;
  }
}
