.icon-button {
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  position: relative;

  display: inline-block;

  padding: 8px;

  cursor: pointer;

  .overlay {
    aspect-ratio: inherit;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    background-color: white;
    opacity: 0;

    position: absolute;

    transition: opacity 150ms;
  }
}
.icon-button:hover .overlay {
  opacity: 0.25;
}
