// https://colorhunt.co/palette/0d92f477cdfff95454c62e2e
$primary: #0d92f4;
$secondary: #f95454;
$secondary-dark: #c62e2e;

@import "../node_modules/bootstrap/scss/bootstrap.scss";

:export {
  @each $key, $value in $theme-colors {
    #{unquote($key)}: $value;
  }
}
